<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CssServlet</servlet-name>
        <servlet-class>servlet.CssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CssServlet</servlet-name>
        <url-pattern>/CssServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HTMLServlet</servlet-name>
        <servlet-class>servlet.HTMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTMLServlet</servlet-name>
        <url-pattern>/HTMLServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>servlet.ParamServlet</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>value1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/ParamServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
